@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #161b24;
    --blue: #1964ee;
    --red: #da5015;
    --green: #3bff21;
}

body,
button {
    font-family: 'Comic Neue', Arial, Helvetica, sans-serif;
    font-size: 2.1rem;
    font-weight: 700;
    color: white;
    background: var(--dark);
}

button {
    width: 12rem;
    margin: 10px 10px 20px;
    padding: 8px;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 150ms ease-in;
}

button:hover {
    color: var(--dark);
    background: white;
}

h1 {
    padding: 20px 0 5px;
}

i {
    font-size: 4rem;
    color: white;
}

hr {
    width: 34rem;
    margin: 8px auto;
    border: 2px solid white;
    border-radius: 25px 0;
}

hr:last-of-type {
    width: 25rem;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 0 25px;
}

.container,
.user,
#display-choice,
.choice-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    flex-direction: column;
}

.lives {
    width: 175px;
    height: 40px;
    margin: 10px 0 0 15px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25px, 1fr));
    gap: 5px;
}

.lives > div {
    background: white;
}

#display-choice {
    padding: 30px;
    gap: 30px;
}

#results {
    height: 46px;
    margin: 20px 0 5px;
    font-size: 2.5rem;
}

#versus {
    margin: 64px 15px 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.choice-display {
    height: 18.75rem;
    width: 18.75rem;
    margin: 17px 0;
    border: 3px solid white;
    border-radius: 10px;
}

.fa-user {
    color: var(--blue);
}

.fa-robot {
    color: var(--red);
}

#player-choice-icon,
#bot-choice-icon {
    font-size: 6rem;
}

#btn-play-again {
    display: none;
}

footer {
    margin-top: 3rem;
    margin-bottom: 10px;
    display: flex;
    font-size: 1.6rem;
    text-align: center;
}

footer span {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 7px;
    line-height: 37px;
}

footer a {
    color: white;
    text-decoration: none;
    transition: all 80ms ease-in-out;
}

footer a:hover {
    padding-bottom: 2px;
    border-bottom: 2px solid white;
}
