* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #111827;
    --white: #E5E7EB;
}

/* global */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: var(--white);
    background: var(--dark-blue);
}

button {
    margin: 0 10px;
    padding: 5px 25px;
    font-size: 25px;
    font-weight: bold;
    color: var(--white);
    background: var(--dark-blue);
    border: 3px solid var(--white);
    border-radius: 10px;
    transition: all 150ms ease-in;
}

button:hover {
    color: var(--dark-blue);
    background: var(--white);
}

i {
    font-size: 4rem;
    color: var(--white);
}

hr {
    width: 34rem;
    margin: 8px auto;
    border: 2px solid var(--white);    
}

hr:last-of-type {
    width: 25rem;
    margin-bottom: 20px;
}

/* container */
.container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

/* display*/
#display-choice {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.show-choice {
    height: 300px;
    width: 300px;
    margin: 10px 20px 30px;
    border: 3px solid var(--white);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-play-again {
    visibility: hidden;
}

