@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

* {
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
    --dark: #161b24;
    --white: #E5E7EB;
    --blue: #1964ee;
    --red: #da5015;
    --green: #81ff21;
}

/* global */
body, button {
    font-family: 'Comic Neue', Arial, Helvetica, sans-serif;
    font-size: 2.1rem;
    font-weight: 700;
    color: var(--white);
    background: var(--dark);
}

button {
    width: 12rem;
    margin: 10px 10px 20px;
    padding: 8px;
    border: 3px solid var(--white);
    border-radius: 10px;
    -webkit-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

button:hover {
    color: var(--dark);
    background: var(--white);
}

h1 {
    padding: 20px 0 5px;
}

i {
    font-size: 4rem;
    color: var(--white);
}

hr {
    width: 34rem;
    margin: 8px auto;
    border: 2px solid var(--white);
    border-radius: 25px 0;
}

hr:last-of-type {
    width: 25rem;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 0 25px;
}

/* flex */
.container, .user, .lives, #display-choice, .show-choice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* container */
.container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/* player & bot lives */
.lives {
    width: 10rem;
    height: 2.4rem;
    margin-top: 10px;
    margin-left: 15px;
    padding: 0.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: left;
    gap: 0.3rem;
    border: 2px solid var(--white);
    border-radius: 5px;
}

.lives > div {
    height: 1.6rem;
    width: 1.6rem;
    background: var(--white);
}

/* choices display */
#display-choice {
    padding: 30px;
    gap: 30px;
}

#results {
    height: 46px;
    margin: 20px 0 5px;
    font-size: 2.5rem;
}

#versus {
    margin: 64px 15px 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.show-choice {
    height: 18.75rem;
    width: 18.75rem;
    margin: 17px 0;
    border: 3px solid var(--white);
    border-radius: 10px;
}

.fa-user {
    color: var(--blue);
}

.fa-robot {
    color: var(--red);
}

#player-choice-icon, #bot-choice-icon {
    font-size: 6rem;
}

#btn-play-again {
    display: none;
}

footer {
    margin-top: 3rem;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.6rem;
    text-align: center;
}

/* footer */
footer span {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 7px;
    line-height: 37px;
}

footer a {
    color: var(--white);
    text-decoration: none;
    -webkit-transition: all 80ms ease-in-out;
    -o-transition: all 80ms ease-in-out;
    transition: all 80ms ease-in-out;
}

footer a:hover {
    border-bottom: 2px solid var(--white);
    padding-bottom: 2px;
}

@media (max-width: 1024px) {
    html {
        font-size: 14px;
    }

    .lives {
        width: 8rem;
        padding: 0.2rem;
        gap: 0.2rem;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 10px;
    }
}